body {
    text-align: center;
    font-family: "Montserrat";
    color: grey;
}

/*Header Section  */

#header {
    background-color: #87ceeb;
    color: white;
}
.container-fluid {
    padding: 3% 15% 6% 15%;
}

.profolio-pic {
    border-radius: 100%;
    width: 100px;
}

@media (max-width: 900px) {
    .profolio-pic {
        width: 15%;
    }
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
}

.banner{
    text-align: left;
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
}

.header-subtitle {
    margin-top: 4rem;
}

.col-lg-6 img {
    height: 20rem;
    position: absolute;
}


.profile-pic-1 {
    z-index: 3;
    left: 25%;
}

.profile-pic-2 {
    left: 55%;
    transform: rotate(30deg);
    z-index: 2;
}

.profile-pic-3 {
    transform: rotate(-30deg);
    z-index: 1;
    left: 10%;
}

@media (max-width: 993px) {
    .col-lg-6 img {
        position: static;
        transform: rotate(0);
        margin: 30px 10px 10px;
    }

    .profile-pic-2, .profile-pic-3 {
        display: none;
    }

    .banner {
        text-align: center;
    }
}


/*About me section*/

#about-me {
    position: relative;
    z-index: 4;
    background-color: white;
}

.features-description {
    text-align: center;
    padding: 3rem 0;
}

.feature-icon {
    color: grey;
    font-size: 4rem;
}

.feature-icon:hover{
    color: #ff4c68;
}

.feature-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

/*skills section title*/

#skills-section-title {
    background-color: #87ceeb;
}

#skills-section-title h2 {
    margin: auto;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
    display: inline-block;
    color: white;
}

/*Skill section*/

#skills {
    text-align: center;
    background-color: #87ceeb;
    color: white;
}

.carousel-item {
    padding: 3% 15%;
}

.skill-title {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
    display: inline-block;
}

.skill-image {
    display: block;
    text-align: center;
    width: 20%;
    border-radius: 100%;
    margin: 20px auto;
}

.skill-description {
    display: inline-block;
    width: 70%;
    line-height: 1.5;
}

/*Press Section*/

#press {
    background-color: #87ceeb;
    text-align: center;
    padding-bottom: 3%;
}

.press-icon {
    width: 5%;
    margin: 20px 20px 50px;
}

/* contact Section */

#contact {
    padding: 100px;
}

#contact h2 {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

.contact-text {
    font-size: 3rem;
    line-height: 1.5;
}

.contact-column {
    padding: 3% 2%;
}

.card-body{
    font-size: 1rem;
}

/*footer section*/
#footer{
    background-color: #87ceeb;
    color: white;
}
.social-icon {
    margin: 20px 10px;
}

